.button{
    font: inherit;
    border: 2px solid#db07d1;
    background-color: #084c99;
    
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 40rem;
    cursor: pointer;
}

.button:hover,
.button:active{
    background: #9dc0e7;
    background-color: #9abce2;
}

.button.focus{
    outline: none;
}